body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}

.todo-item {
    width: 20%;
}

.completed-item {
    background-color: grey;
}

.incompleted-item {
    background-color: transparent;
}
